# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env


#Data Files 
*data_old
*data
# Notebooks
*notebooks

#zip files 
*.zip