FY_REDIRECT_URI=https://127.0.0.1:5000/
FY_CLIENT_ID=QTT2Q0SC16-100
FY_SECRET_KEY=SN3H2M42IO
FY_ID=YK17590
FY_TOTP_KEY=JSH27ILOASH5CQKOWTNYGKYRTBYBBJNX
FY_PIN=7277



FYERS_REDIRECT_URI=https://127.0.0.1:5000/
FYERS_CLIENT_ID=QTT2Q0SC16-100
FYERS_SECRET_KEY=SN3H2M42IO
FYERS_USER_ID=YK17590
FYERS_TOTP_KEY=JSH27ILOASH5CQKOWTNYGKYRTBYBBJNX
FYERS_PIN=7277