Pygments==2.19.2
pyotp==2.9.0
pyparsing==3.3.2
pyright==1.1.408
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
pytz==2025.2
pyzmq==27.1.0
requests==2.31.0
ruff==0.15.10
s3transfer==0.16.0
setuptools==68.0.0
six==1.17.0
stack-data==0.6.3
tabulate==0.10.0
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
websocket-client==1.6.1
wrapt==2.1.1
yarl==1.23.0